html 
	head
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' ) 
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' ) 
		style 
		title= title
	body
		h1= title
		div(class='row')
			div(class='col-md-2 col-md-offset-4 col-xs-4 col-xs-offset-2')
				p <b> codename</b>
			div(class='col-md-2 col-xs-6')
				p <b> score </b>
		for user in users
			div(class='row')
				div(class='col-md-2 col-md-offset-4 col-xs-4 col-xs-offset-2') 
					a(href='/individualgraph/' + user.name)  #{user.name}  
				div(class='col-md-2 col-xs-6') 
					p #{user.score}

		div(class='row')
			div(class='col-md-4 col-md-offset-4 col-xs-4 col-xs-offset-2')
				a(href= "/graph") see graph of scores over time

