html
	head
		style
			include ../dist/metricsgraphics.css


		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' ) 
		script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/4.9.1/d3.min.js')
		script 
			include ../dist/metricsgraphics.min.js

		script.
			$(document).ready(function() {
			d3.json('/testdata', function(data) {
				for (var i = 0; i < data.points.length; i++) {
				data.points[i] = MG.convert.date(data.points[i], 'date', '%Y-%m-%d-%H-%M');
				}

			MG.data_graphic({
			  title: "Scores over time",
			  data: data.points,
			  width: 1000,
			  height: 625,
			  target: "#target",
			  legend: data.users,
			  legend_target: '#legend',
			  interpolate:   d3.curveMonotoneX
				})})})
			



	body
		div#target
		div#legend

